{% extends 'base.html' %}

{% block content %}
<section class="bg-red text-light text-center shadow">
    <div class="container p-5">
        <div class="row">
            <div class="col">
                <h1>Our Car Collection</h1>
            </div>
        </div>
    </div>
</section>
<section class="bg-light text-center">
    <div class="container p-5">
        <div class="row">
            <div class="col">
                <a href="{{ url_for('site.ourcars') }}">
                <img src="../../static/images/car.jpg" class="img-fluid p-5" alt="Car-Image"></a>
            </div>
        </div>
    </div>
</section>

<footer>
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-md-6">
                <hr>
                <p class="text-center">&copy; 2024 Car Inventory. All Rights Reserved.</p>
            </div>
        </div>
    </div>
</footer>



{% endblock %}